/*****TypographyCSS*****/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }


body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
 }

textarea {
  overflow: auto;
  resize: vertical; }

h1, .h1 {
  font-size: 2.75rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.125rem; }

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: 0.875rem; }

h6, .h6 {
  font-size: 0.813rem; }

.lead {
  font-size: 1.4rem;
  font-weight: 400; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
/*****TypographyCSS*****/

/*****agun*****/
/* #agun(e50d5193e4b9f737) #css starts  */
.aboute50d5193e4b9f737 h2{
    font-size: 40px;
    line-height: 1.5
}
.aboute50d5193e4b9f737 li {
            list-style: none;
            padding: 10px 30px;
            background-image: url("https://i.ibb.co/5Tg0P3R/chk.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 20px         
        }
        .aboute50d5193e4b9f737 .margin{
    margin-left: -30px;
    font-weight: bold
}
.aboute50d5193e4b9f737 .searchBtn{
        background-color:#4A4CC7;
        border-radius: 10px;
        color: white;
        padding-right: 30px;
        padding-left: 30px;
        font-weight: bold
    }
@media (max-width: 767px) {
    .aboute50d5193e4b9f737 .aboutIMG{
        margin-top: 15px;
}
}
/* #agun(e50d5193e4b9f737) #css ends  */
/*****agun*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
.freyategxpfzk1ni .fdb-block {
    padding: 7.5rem 0
  }

  .freyategxpfzk1ni  .fdb-block .fdb-box {
      background: #FFFFFF;
      padding: 3.75rem 2.5rem;
      overflow: hidden;
      color: #444444;
      border-radius: 0.25rem;
      box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2)  }

      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #329ef7;
      z-index: 2
     }

     .freyategxpfzk1ni .fdb-block img + h2 {
      margin-top: 2.5rem
     }


      .freyategxpfzk1ni .fdb-block img.fdb-icon {
      width: auto;
      width: 3.75rem
     }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****agadu*****/
/* #agadu(bf5e9e9e7ee746db) #css starts  */
.aboutbf5e9e9e7ee746db .DescriptionHeading {
    font-size: 34px;
    color: #0A033C
}

.aboutbf5e9e9e7ee746db .DescriptionPara {
    color: #0A033C;
    font-size: 18px
}

.aboutbf5e9e9e7ee746db .descriptionImage img{
    margin-top: -30px
}
.aboutbf5e9e9e7ee746db .searchBtn{
    background-color:#A560F4 ;
    border-radius: 7px;
    color: white;
    font-weight: bold
}
/* #agadu(bf5e9e9e7ee746db) #css ends  */
/*****agadu*****/

/*****foshka*****/
/* #foshka(foshkaftin8f8zeg1) #css starts */
.foshkaftin8f8zeg1 .fdb-block {
    padding: 7.5rem 0
 }

 .foshkaftin8f8zeg1  .fdb-block img.fdb-icon {
      width: auto;
      width: 3.75rem
    }
/* #foshka(foshkaftin8f8zeg1) #css starts */
/*****foshka*****/

/*****agdu*****/
    /* #agdu(d390a380620aac0e) #css starts  */
    .aboutd390a380620aac0e .video_card {
        position: relative;
        border-radius: 5px;
        overflow: hidden
    }

    .aboutd390a380620aac0e .video_card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f48637;
        opacity: 0.7
    }

    .aboutd390a380620aac0e .video_card>img {
        width: 100%
    }

    .aboutd390a380620aac0e .video_card>.btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background: #fff;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
        border: none;
        outline: none
    }

    .aboutd390a380620aac0e .video_card>.btn:hover {
        box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.5)
    }

    .aboutd390a380620aac0e .video_card>.btn:active {
        background: rgba(255, 255, 255, 0.5)
    }
    /* #agdu(d390a380620aac0e) #css ends  */
/*****agdu*****/

/*****tanvi*****/
    /* #tanvi(testimonialtmq7s80wxl3) #css starts  */
    .testimonialtmq7s80wxl3 .fdb-block {
        padding: 7.5rem 0;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: #FFFFFF
       }
      
      .testimonialtmq7s80wxl3 .fdb-block .fdb-box {
          background: #FFFFFF;
          padding: 3.75rem 2.5rem;
          overflow: hidden;
          color: #444444;
          border-radius: 0.25rem;
          box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) 
      }
    /* #tanvi(testimonialtmq7s80wxl3) #css ends  */
/*****tanvi*****/

/*****cash*****/
    /* #cash(c1486b52e923e265f) #css starts  */
    .counterc1486b52e923e265f h2{
        color: #00BDF0   
    }
    .counterc1486b52e923e265f .BG{
        background-color:#D8E5EC 
    }
    .counterc1486b52e923e265f .fa{
        margin-top: 10px;
        font-size: 60px
    }

    @media (min-width: 576px) {
        .counterc1486b52e923e265f .col-md-3{ 
            margin-bottom: 30px;
            text-align: center
         }         
    }
    @media (max-width: 576px) {
        .counterc1486b52e923e265f .col-md-3{ 
            margin-bottom: 30px;
            text-align: center            
         } 
    }
    /* #cash(c1486b52e923e265f) #css ends  */
/*****cash*****/

/*****babajide*****/
    /* #babajide(b9ce7550acbf1ce9f) #css starts  */
    .bannerb9ce7550acbf1ce9f .button {
        background-color: rgb(79, 57, 99);
        color: wheat
    }

    .bannerb9ce7550acbf1ce9f .button:hover {
        color: wheat
    }
    .bannerb9ce7550acbf1ce9f .background{
        background-image: url(http://rb.gy/5rpuxs);
        padding: 50px
    }
    /* #babajide(b9ce7550acbf1ce9f) #css ends  */
/*****babajide*****/

/*****finger*****/
    /* #finger(fingerftg80mqpach) #css starts */
    .fingerftg80mqpach .fdb-block {
        padding: .5rem 0
       }
    /* #finger(fingerftg80mqpach) #css ends */
/*****finger*****/

